.badge {
  font-size: 200%;
  margin-top: 10px;
  margin-left: 35%;
  text-shadow: 3px 3px 3px #2b2f31;
  color: lightblue;
}

h1.panel-title {
  text-align: center;
  font-size: 250%;
  text-shadow: 3px 3px 3px #2b2f31;

}

.well p {
  font-size: 115%;
}

.panel-primary blockquote p {
  color: #2b2f31;
  font-style: italic;
}

.panel img {
  width:85%;
  margin-left:auto;
  margin-right: auto;
  display: block;
  margin-top: 1%;
  margin-bottom: 2%;
  border: 5px 5px 5px gray;
  border-radius: 15px;
}
.jumbotron {
  background-image: url(mountain.jpg);
  height: 300px;
  text-align: center;
  padding-top: 9%;
  text-shadow: 2px 2px 3px lightgray;
}
body {
  background-color: gray;
}
